* {
  // background-color: red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat','Poppins', sans-serif;
  // font-family: 'Poppins', sans-serif;
}

@import './abstracts/variables';
@import './abstracts/mixins';

@import './layout/nav';
@import './layout/header';
@import './layout/footer';
//Alla pages skall ligga här under
@import './pages/home';
@import './pages/vara-samarbeten';
@import './pages/economics';
@import './pages/international';

//All responsivitet skall ligga här!
@import './layout/responsive';
@import './layout/home-responsive';
@import './layout/vara-samarbeten-responsive';
@import './layout/eco-responsive';
@import './layout/international-responsive';



