.about-body {
    padding-top: 2rem;

    .about-main {
        .about-international {
            display: inline-block;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            }
        }
    }

