.calendar-body{
  position: relative;
  padding-bottom:300px;

  .kalendarium-body{
    display: flex;
    flex-direction: column;
  
  .kalendarium-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

      .kalendarium-breadcrumb{
       @include breadcrumb;
      }
      h1{
        @include h1-mobile;
      }
  }

    ul{
      list-style: none;
    }
    .card{
      background-color: $darkGreen;
      width: 90%;
      margin: 1rem auto;
      display: grid;
      grid-template-rows: 8rem auto 10rem;
      border-radius: 20px;
      box-shadow: 0 1rem 2.5rem rgb(27,64,94);

      &__header{
        padding: 0 20px;
        color: grey;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__body{
        padding: 24px 32px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        &--days{
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 4rem;

          li{
            flex: 1;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            color: grey;
            margin: 0 1px;
          }
        }
        &--dates{
          display: grid;
          gap: 3px;
          grid-template-columns: repeat(7, 1fr);
          justify-items: center;
          text-align: center;
          li{
            width: 100%;
            height: 3.5rem;
            display: grid;
            place-items: center;
            font-weight: bold;
            position: relative;
          }
          li.prev, li.next{
            color: #ccc;
          }
          li.active{
            background: orangered;
            color: white;
            border-radius: 50%;
          }
          li.circle{
            border: 2px solid ;
            border-radius: 50%;
            span{
              position: absolute;
              top: -0.75rem;
              right: -0.5rem;
              width: 1.75rem;
              height: 1.75rem;
              font-size: 1.2rem;
              color: white;
              border-radius: 50%;
            }
          }
          .circle.orange{
            border-color: orangered;
            span{
              background: orangered;
            }
          }
          .circle.purple{
            border-color: purple;
            span{
              background:purple;
            }
          }
        }
      }
      &__footer{
        @extend .card__header;
        color: black;
        font-weight: bold;
        .add{
          text-decoration: none;
          color: inherit;
          border: 2px solid orangered;
          border-radius: 50%;
          width: 3.5rem;
          height: 3.5rem;
          padding-top: 0.25rem;
          display: grid;
          place-items: center;
        }
      }
    }
    .kalender-kort-body{
      background-color: #EBF0EE;
      border-radius: 20px;
      width: 90%;
      height: 400px;
      margin: 1rem auto;

      .presentation-img{
        width: 100%;
      }
      h3{
        margin: 10px;
        font-size: 15px;
      }
      p{
        // @include paragraf;
        margin: 10px;
        font-size: 13px;
      }
      a{
        text-decoration: none;
        color: $black;
      }
      .icon{
        margin: auto;
        width: 25px;
        height: 25px;
      }

    }
  }  
}