@include media-lg {
}
.equality-body {
    position: relative;
    padding-bottom:300px;

.equality_wrapper{

    
        .equality-breadcrumb {
            margin-bottom: 3rem;
            font-size: 12px;
            a {
                text-decoration: none;
                color: $black;
                font-weight: 600;
                font-size: 12px;
            }

        .equality-title {
            position: center;
            color: black;
        }

        }
    

}







