.equality-body {
  position: relative;
  padding-bottom: 300px;

  .equality-main {
    padding: 2rem 2rem;

    .equality-wrapper {
      p {
        @include paragraf;
      }

      .equality-breadcrumb {
        @include breadcrumb;
        display: block;
      }

      h1 {
        @include h1-mobile;
      }

      h2 {
        @include h2-mobile;
      }

      h2, h1 {
        margin:20px 0; 
        text-align: center;
      }
    }

    .equality-button1 {
      @include button(1rem);

    }

    .more-info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h2 {
        text-align: left;
      }
          
      .links {    
        text-decoration: none;
        color: $black;
      }
    }
  }
}