.equality-body {
  position: relative;
  padding-bottom: 300px;

  .equality-main {
    padding: 2rem 2rem;

    .equality-wrapper {
      p {
        @include paragraf;
        // padding-bottom: 20px;
      }

      .equality-breadcrumb {
        @include breadcrumb;
      }

      h1 {
        @include h1-mobile;
      }

      h2 {
        @include h2-mobile;
      }

      h2, h1 {
        margin:20px 0; 
        text-align: center;
      }
    }

    .equality-button1 {
      @include button(1rem);
     /*  display: flex;
      justify-content: center;
      padding-right: 20px; */
      // margin: 20px 50px;
    }

    .more-info {
        // padding-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        h2 {
          text-align: left;
        }
        

    .links {
      // padding-top: 30px;
    
      text-decoration: none;
      color: $black;
    }
  }
}
}
