.government-body{
    box-sizing: border-box;
    position: relative;
    padding-bottom: 300px;


    .government-wrapper {
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1, h2 {
            margin: 20px 0;
            text-align: center;
        }
        h1 {
            font-size: 38px;
        }     
        a {
            color: $black;
        }        
        .button {
            @include button(2rem);
        }
        .government-text-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            
            .government-breadcrumbs{
                @include breadcrumb;
                align-self: flex-start;
                display: block;
            }                
            h1, h2 {
                margin: 20px 0;
                text-align: center;
            }
            h1 {
                @include h1-mobile;
            }
            p {
                @include paragraf;
                width: 100%;             
            }
        }


    }
}
