.nyheter-body{
  position: relative;
  padding-bottom:300px;
  
    .nyheter-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      
      .nyheter-wrapper-intro{
        display: flex;
        flex-direction: column;
        width: 90%;

        h1{
          @include h1-mobile;
          align-self: center;
        }

        h2{
          align-self: center;
        }
  
        .nyheter-breadcrumb{
          align-self: flex-start;
          @include breadcrumb;
          margin-top: 2rem;
          // font-size: 12px;
          // margin-top: 10px;
          // margin-left: 10%;
          
          a{
            text-decoration: none;
            color: $black;
          }
  
      }

        .nyheter-kort-wrapper{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 90%;
          gap: 30px;
        }

      
      }

    .nyheter-kort{
      background-color: $lightGreen;
      border-radius: 10px;
      height: 160px;
      width: 90%;
      margin: 2rem auto;

        // .nyheter-dag{
        //   background-color: white;
        //   display: block;
        //   border-radius: 50%;
        //   height: 10px;
        //   width: 40px;
        //   z-index: 1;
        // }
        .kort-heading{
          display: inline-block;
          margin: 5px;
          padding: 10px;
          font-size: 12px;
          font-weight: bold;
        }
        .kort-bekrivning{
          display: inline-block;
          margin: 5px;
          padding: 10px;
          font-size: 10px;
        }
        
        a{
          text-decoration: none;
          color: $black;
        }
    }
    .nyher-carusel-scroll{
      font-size: 30px;
    }
  }
}