.samarbeten-body {
  position: relative;
  padding-bottom:300px;
 

    .samarbeten-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .figure-wrapper{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        .coop-image{
          height: 23px;
          width: 220px;
        }

        .coop-image-stora{
          height: 80px;
          width: 206px;
        }
      }
      .samarbeten-intro{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

        .samarbeten-heading{
          @include h1-mobile;
        }
        .samarbeten-breadcrumb{
          @include breadcrumb;
          align-self: flex-start;
          margin-top: 2rem;
        }
      }
    }
  }