.samarbeten-body {
  position: relative;
  padding-bottom: 300px;

  .samarbeten-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    max-width: 550px;
    margin: 0 auto;
    .samarbeten-heading {
      @include h1-mobile;
    }
    .samarbeten-breadcrumb {
      @include breadcrumb;
      margin-top: 2rem;
      align-self: flex-start;
    }

    .figure-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 15px;

      .coop-image {
        width: 285px;
      }

      .coop-image-stora {
        width: 285px;
      }
    }
  }
}
