@include media-lg {
  .about-body {
    position: relative;
    padding-bottom: 300px;

    .about-main {
      width: 60%;
      margin: 0 auto;

      h1 {
        @include h1-desktop;
      }
    }
  }
}
