@include media-lg {
  .equality-body {
    .equality-main {
      .equality-wrapper {

        width: 60%;
        margin: 0 auto;

        h1 {
          @include h1-desktop;
        }

        h2 {
          @include h2-desktop;
        }


        .more-info {
          h2 {
            text-align: left;
          }
        }
      }

      .equality-button1 {
        @include button(3rem);
      }
    }
  }
}
