@include media-lg {

    .grants-body {

        .grants-wrapper {
            height: 100vh;
            gap: 30px;
            margin: 0 auto;
            width: 70%;

            .grants-catergories {
                font-size: 48px;
                margin-bottom: 10px;
            }

            .grants-box-style {
                height: 60px;
                width: 500px;
            }

            .info-grants-container {
                width: 306px;
                width: 520px;
            }

            .grants-breadcrumb {
               
              margin: 20px 0 0 20px;
            }
        }
    }
}