@include media-lg {
  .guide-body {
    .guide-main {
      width: 100%;

      .guide-heading-section {
        width: 60%;
        h1 {
            font-size: 48px;
        }
      }

      .guide-list {
        .list-inner-wrapper {
          ul {
            width: 60%;
          }
        }
      }
      .guide-article  {
          width: 60%;
      }
    }
  }
}
