@include media-lg {
  html {
    .guide-body {
      .guide-main {
        width: 100%;

        .guide-heading-section {
          width: 60%;
          h1 {
            font-size: 48px;
          }
        }

        .guide-list {
          .list-inner-wrapper {
            h2 {
              font-size: 28px;
            }
            ul {
              width: 60%;
            }
          }
        }
        .guide-article {
          width: 60%;
          h2 {
            font-size: 28px;
          }
        }
      }
    }
  }
}
