// Desktop (mobile first)
@include media-lg {

    .kontakt-body{        
        .kontakt__main{      
            .breadcrumb{
                margin-bottom: 3rem;
                font-size: 12px;
                a {
                    text-decoration: none;
                    color: $black;
                    font-weight: 600;
                    font-size: 12px;
                }
                @include breadcrumb;
            }
            .main__article{        
                max-width: 70%;
                margin: 0 auto;
                .h1{
                    @include h1-desktop;
                }
                .kontakt__generalinfo{
                    flex-direction: row;
                    gap: 10rem;  
                    justify-content: flex-start;
                    .kontakt__iframe{
                        width: 800px; 
                        height: 400px;
                    }                        
                }    
            }  
            .kontakt__hittahit{
                .h2{
                    @include h2-desktop;
                }
            }      
        }
    }
}