// Desktop (mobile first)
@include media-lg {

    .kontakt-body{        
        .kontakt__main{      
            .breadcrumb{
                margin-bottom: 3rem;
                font-size: 12px;
                a {
                    text-decoration: none;
                    color: $black;
                    font-weight: 600;
                    font-size: 12px;
                }
                @include breadcrumb;
            }
            .main__article{        
                .kontakt__generalinfo{
                    flex-direction: row;
                    gap: 20px;  
                    justify-content: space-between;
                    align-items: center;                    
                    // outline: 1px solid red;
                    // background-color: red;              

                    // display: grid;
                    // grid-template-columns: repeat(2, 1fr);
                    // grid-template-rows: minmax(1%, auto);  
                    // grid-template-areas: 
                    //     "kontakt__partialinfo     kontakt__iframe";
                
                    .kontakt__partialinfo{
                        // grid-area: kontakt__partialinfo;
                        // background-color: blue;
                        // width: 50%;
                    }
                    .kontakt__iframe{
                        // grid-area: kontakt__iframe;
                        margin-left: 70px;   
                        margin-right: 90px;   
                        width: 100%;   
                        width: 90%;   
                    }                        
                }    
            }        
        }
    }
}