@include media-lg {
  .samarbeten-body {
    position: relative;
    padding-bottom: 300px;

    .samarbeten-wrapper {
      width: 40%;
      gap: 30px;

      .samarbeten-heading {
        @include h1-desktop;
      }

      .figure-wrapper {
        .coop-image {
          width: 550px;
        }
        .coop-image-stora {
          width: 550px;
        }
      }
    }
  }
}
