
@include media-lg{

  .samarbeten-body {
    position: relative;
    padding-bottom:300px;
    
  
    .samarbeten-wrapper{
      gap: 30px;
      margin: 0 auto;
      
      .samarbeten-intro{
        width: 60%;
      .samarbeten-heading{
        @include h1-desktop;
      }
    }
    
    .figure-wrapper{
      .coop-image{
        height: 69px;
        width: 550px;
      }
      .coop-image-stora{
        height: 90px;
        width: 550px;
      }
    }
     
    }
  }
  
  }
  
  @include media-xl {
    .samarbeten-body {
      
        .samarbeten-wrapper{
          height: 100vh;
        }
    }
  }