
@include media-lg{

  .samarbeten-body {
    position: relative;
    padding-bottom:300px;
    
  
    .samarbeten-wrapper{
      height: 100vh;
      gap: 30px;
      margin: 0 auto;
      width: 70%;
      .samarbeten-heading{
        font-size: 48px;
        margin-bottom: 10px;
      }
      .coop-image{
        height: 60px;
        width: 500px;
      }
      .coop-image-stora{
        width: 306px;
        width: 520px;
      }
      .samarbeten-breadcrumb{
        margin: 20px 0 0 20px;
      }
    }
  }
  
  }
  
  @include media-xl {
    .samarbeten-body {
      
        .samarbeten-wrapper{
          height: 100vh;
        }
    }
  }