

//Checked menu items desktop

@mixin checked-menu-item-desktop {
    padding: 1rem;
    position: absolute;
    box-sizing: border-box;
    top: 110px;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 150px;
    left:0;
    flex-direction: column;
    background-color: #EBF0EE;
}

//Media queries
@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}